@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Noto+Sans:wght@300&family=Squada+One&display=swap');

/* General Styles*/

* {
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans';
}

html {
    scroll-behavior: smooth;
}

h1 {
    font-family: 'Squada One', sans-serif;
}

p {
    font-family: 'Noto Sans', sans-serif;
}

/* index.html */

.index-header {
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4, 9, 30, 0.6), rgba(4, 9, 30, 0.6)), url('../images/photo-1581009146145-b5ef050c2e1e.avif');
    background-position: center;
    background-size: cover;
    position: relative;
}

/* Home, Push, About Nav Links */

nav {
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}

nav h1 {
    font-family: 'Squada One', sans-serif;
    font-size: 250%;
    letter-spacing: 4px;
    color: #fff;
}

.nav-links {
    flex: 1;
    text-align: right;
}

.nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

.nav-links a {
    color: #fff;
    font-family: 'Squada One', sans-serif;
    text-decoration: none;
    font-size: 30px;
}

.nav-links ul li::after {
    content: '';
    width: 0%;
    height: 2px;
    background: #ffdf00;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.nav-links ul li:hover::after {
    width: 100%;
}

/* Back Nav Links */

.pull-nav-links {
    flex: 1;
    text-align: right;
}

.pull-nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

.pull-nav-links a {
    color: #fff;
    font-family: 'Squada One', sans-serif;
    text-decoration: none;
    font-size: 30px;
}

.pull-nav-links ul li::after {
    content: '';
    width: 0%;
    height: 2px;
    background: #DC143C;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.pull-nav-links ul li:hover::after {
    width: 100%;
}

#logo {
    text-decoration: none
}

/* Hero - Home page*/

.cover-box {
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.cover-box h1 {
    font-size: 65px;
}

.cover-box p {
    margin: 10px 0 40px;
    font-size: 20px;
    color: #fff;
}

.hero-button {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 10px 30px;
    font-size: 14px;
    background: transparent;
    position: relative;
    cursor: pointer;
}

.hero-button:hover {
    border: 1px solid #ffdf00;
    background: #ffdf00;
    transition: 1s;
}

/* Section One Home Page */

.reasons {
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}

.reasons h1 {
    font-size: 36px;
    font-weight: 600;
    letter-spacing: 3px;
}

.reasons p {
    color: #1c1d1d;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}

.row {
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}

.row h3 {
    font-family: 'Squada One', sans-serif;
    text-align: center;
    font-weight: 500;
    margin: 10px 0;
}

.reasons-columns {
    flex-basis: 31%;
    background: #f7eb9c;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.5s;
}

.reasons-columns:hover {
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, .3);
}

/* Push Page */

.push-header {
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4, 9, 30, 0.6), rgba(4, 9, 30, 0.6)), url('../images/michael-demoya-i2GS_MtW9hM-unsplash.jpg');
    background-position: center;
    background-size: cover;
    position: relative;
}

.stacked-workout {
    flex-direction: column;
    width: 80%;
    align-items: center;
    text-align: center;
    margin: 0 auto;
}

.push-column {
    flex-basis: 100%;
    background: #f7eb9c;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
}

/* Chest */

.chest h1 {
    font-size: 75px;
    text-decoration: underline;
    letter-spacing: 2px;
    text-align: center;
    margin: 50px 0 50px 0;
}

.stacked-workout h2 {
    font-family: 'Squada One', sans-serif;
    font-size: 30px;
    letter-spacing: 2px;
    text-decoration: underline;
    margin: 10px 0 10px 0;
}

.stacked-workout h3 {
    font-family: 'Noto Sans', sans-serif;
    margin: 5px 0 7.5px 0;
}

.bench-video {
    width: 50%;
    border: none;
}

/* Triceps */

.triceps {
    background-color: #fafafa;
}

.triceps h1 {
    font-size: 75px;
    text-decoration: underline;
    letter-spacing: 2px;
    text-align: center;
    margin: 50px 0 50px 0;
}

/* Shoulders */

.shoulders {
    background-color: #fff;
}

.shoulders h1 {
    font-size: 75px;
    text-decoration: underline;
    letter-spacing: 2px;
    text-align: center;
    margin: 50px 0 50px 0;
}

/* Pull Page */

.pull-header {
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url('../images/alora-griffiths-E3wehabi_B4-unsplash.jpg');
    background-position: center;
    background-size: cover;
    position: relative;
}

.pull-column {
    flex-basis: 100%;
    background: #f0adba;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
}

/* Back */

.back h1 {
    font-size: 75px;
    text-decoration: underline;
    letter-spacing: 2px;
    text-align: center;
    margin: 50px 0 50px 0;
}

.back-video {
    width: 50%;
    border: none;
}

/* Biceps */

.biceps {
    background-color: #fafafa;
}

.biceps h1 {
    font-size: 75px;
    text-decoration: underline;
    letter-spacing: 2px;
    text-align: center;
    margin: 50px 0 50px 0;
}

/* Legs Page */ 

.legs-header {
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url('../images/sunday-ii-sunday-snM3yEpvklU-unsplash.jpg');
    background-position: center;
    background-size: cover;
    position: relative;
}

.legs-column {
    flex-basis: 100%;
    background: #9fccc8;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
}

/* Legs */

.legs h1 {
    font-size: 75px;
    text-decoration: underline;
    letter-spacing: 2px;
    text-align: center;
    margin: 50px 0 50px 0;
}

.leg-video {
    width: 50%;
    border: none;
}

/* About Page */

.about-header {
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4, 9, 30, 0.6), rgba(4, 9, 30, 0.6)), url('../images/victor-freitas-nlZTjUZX2qo-unsplash.jpg');
    background-position: center;
    background-size: cover;
    position: relative;
}

.about-us {
    width: 80%;
    color: #fff;
    position: absolute;
    top: 30%;
    left: 10%;
    text-align: center;
    flex-direction: column;
}

.about-us h1 {
    font-size: 3rem;
    margin-bottom: 20px;
    letter-spacing: 3px;
}

.about-text {
    flex-direction: column;
    width: 80%;
    align-items: center;
    text-align: center;
    margin: 0 auto;
}

/* footer */

footer {
    background-color: #1c1d1d;
}

.social-icons {
    text-align: center;
}

.social-icons>li {
    display: inline;
}

.social-icons i {
    font-size: 160%;
    margin: 1%;
    padding: 5%;
    color: #fff;
}